# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=BH3EhK6M9dG5ex+JWiozk5MigvxPv+kT6c8TQmEn6Sg=

# Database
# Postgres connection string (e.g. from Neon)
DATABASE_URL=postgresql://neondb_owner:npg_sXxeIB91QUNq@ep-spring-tree-zar1kudv-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# GitHub OAuth App credentials
# Create at https://github.com/settings/developers
# Authorization callback URL: http://localhost:3000/api/auth/callback/github
GITHUB_CLIENT_ID=Ov23lirGb42qDeqVTwY2
GITHUB_CLIENT_SECRET=25377d46fedf2936473921637d33c88ca2a5e0f8

NEXT_PUBLIC_APP_URL=http://localhost:3000



# Auth
BETTER_AUTH_URL=http://localhost:3000
